
  <div class="booyah-box col-10 offset-1">
    <h1>California Auto Center Millbrae</h1>
    <h2>Complete Tire & Auto Repair Shop</h2><br /><br />
  </div>

  <br />
  <div class="row text-center">
    <div class="col-12 col-sm"
      <h3>Feature 1</h3>
    </div>

    <div class="col-12 col-sm"
      <h3>Feature 2</h3>
    </div>

    <div class="col-12 col-sm"
      <h3>Feature 2</h3>
    </div>
  </div>
  <hr />
